.features {
    border-top:0;
    margin-top:0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
}

.feature {
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 50%;
}

.theme-default-content {
  margin: 0 !important;
}

.badge.emoji {
    padding-top: 3px !important;
    padding-bottom: 1px !important;
}

.custom-block
  &.quote
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
    border-color lightblue
    font-style italic

.quote .custom-block-title
    padding-bottom 1rem
    color grey
    font-size 1.3rem
