/**
 * Custom palette here.
 *
 * ref:https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #00adef
$textColor = #444444
$borderColor = #E6E6E6
$codeBgColor = #444444

// layout
$contentWidth = 1024px
